@model RoleEditViewModel

<div class="bg-primary m-1 p-1 text-white"><h3>Edit @Model.Role.Name role</h3></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-action="Edit">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    <h5 class="bg-info p-1 text-white">Add to @Model.Role.Name</h5>
    <table class="table table-sm table-bordered table-striped">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr>
                <td colspan="2">All Users are members</td>
            </tr>
        }
        else
        {
            foreach (AppUser user in Model.NonMembers)
            {
            <tr>
                <td>@user.UserName</td>
                <td><input type="checkbox" name="IdsToAdd" value="@user.Id" /></td>
            </tr>
            }
        }
    </table>
    <h5 class="bg-info p-1 text-white">Remove from @Model.Role.Name</h5>
    <table class="table table-sm table-bordered table-striped">
        @if (Model.Members.Count() == 0)
        {
            <tr>
                <td colspan="2">No Users are members</td>
            </tr>
        }
        else
        {
            foreach (AppUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input type="checkbox" name="IdsToDelete" value="@user.Id" /></td>
                </tr>
            }
        }
    </table>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

